{% extends 'base.html' %}
{% block content %}
{% load static %}
        <div class="page-header" style="background: url({% static '/img/banner1.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-wrapper">
                            <h2 class="product-title">Services</h2>
                            <ol class="breadcrumb">
                                <li><a href="#">Home /</a></li>
                                <li class="current">Services</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="services section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xs-12">
                        <div class="services-item wow fadeInRight" data-wow-delay="0.2s">
                            <div class="icon">
                                <i class="lni-book"></i>
                            </div>
                            <div class="services-content">
                                <h3><a href="#">Full Documented</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-xs-12">
                        <div class="services-item wow fadeInRight" data-wow-delay="0.4s">
                            <div class="icon">
                                <i class="lni-leaf"></i>
                            </div>
                            <div class="services-content">
                                <h3><a href="#">Clean & Modern Design</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-xs-12">
                        <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
                            <div class="icon">
                                <i class="lni-map"></i>
                            </div>
                            <div class="services-content">
                                <h3><a href="#">Great Features</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-xs-12">
                        <div class="services-item wow fadeInRight" data-wow-delay="0.8s">
                            <div class="icon">
                                <i class="lni-cog"></i>
                            </div>
                            <div class="services-content">
                                <h3><a href="#">Completely Customizable</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-xs-12">
                        <div class="services-item wow fadeInRight" data-wow-delay="1s">
                            <div class="icon">
                                <i class="lni-git"></i>
                            </div>
                            <div class="services-content">
                                <h3><a href="#">User Friendly</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-xs-12">
                        <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
                            <div class="icon">
                                <i class="lni-layout"></i>
                            </div>
                            <div class="services-content">
                                <h3><a href="#">Awesome Layout</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="counter-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 work-counter-widget">
                        <div class="counter">
                            <div class="icon"><i class="lni-layers"></i></div>
                            <h2 class="counterUp">8325</h2>
                            <p>Ad Posted</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 work-counter-widget">
                        <div class="counter">
                            <div class="icon"><i class="lni-users"></i></div>
                            <h2 class="counterUp">5487</h2>
                            <p>Members</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 work-counter-widget">
                        <div class="counter">
                            <div class="icon"><i class="lni-briefcase"></i></div>
                            <h2 class="counterUp">2012</h2>
                            <p>Premium Ads</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 work-counter-widget">
                        <div class="counter">
                            <div class="icon"><i class="lni-map"></i></div>
                            <h2 class="counterUp">200</h2>
                            <p>Locations</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <div class="single-cta">
                            <div class="cta-icon">
                                <i class="lni-grid"></i>
                            </div>
                            <div class="content">
                                <h4>Refreshing Design</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <div class="single-cta">
                            <div class="cta-icon">
                                <i class="lni-brush"></i>
                            </div>
                            <div class="content">
                                <h4>Easy to Customize</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <div class="single-cta">
                            <div class="cta-icon">
                                <i class="lni-headphone-alt"></i>
                            </div>
                            <div class="content">
                                <h4>24/7 Support</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}